.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
/*Inizio delle soluzioni*/

/*Soluzione ESERCIZIO 1*/
.ex-1-square:hover{
    background-color: red;
    transition: all 2s;
}


/*Soluzione ESERCIZIO 2*/
.ex-2-square:hover{
    width: 100%;
    transition: all 3s;
}

/*Soluzione ESERCIZIO 3*/
.ex-3-square:hover{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: all 3s;
}


/*Soluzione ESERCIZIO 4*/

.ex-4-square:hover{
    opacity: 0%;
    width: 100px;
    height: 100px;
    background: red;
    transition: all 2s;
}


/*Soluzione ESERCIZIO 5*/
.ex-5-square:hover {
    margin: 20px;
    width: 100px;
    height: 100px;
    transition: all 2s;
    transition-duration: 2s;
}
.ex-5-square:active {
    margin: 20px;
    width: 30px;
    height: 30px;
    transition: all 2s;
}



/*Soluzione ESERCIZIO 6*/
.ex-6-img:hover{
    filter: grayscale(100%);
}

/*Soluzione ESERCIZIO 7*/
.ex-7-img:hover{
    filter: grayscale(100%);
    transition: all 2s;
}


/*Soluzione ESERCIZIO 8*/
.ex-8-img:hover{
    filter: grayscale(100%);
    border-radius: 50%;
    transition-property: filter, border-radius;
    transition-duration: 2s, 4s;
    transition-delay: 2s, 4s;
}

/*Soluzione ESERCIZIO 9*/
.ex-9-img:hover{
    filter: grayscale(100%);
    border-radius: 50%;
    width: 80%;
    height: 80%;
    transition-property: filter, border-radius, widht, height;
    transition: all 5s;
    transition-delay: 2s, 4s, 0, 0;
}



/*Soluzione ESERCIZIO 10*/
.ex-10-icon{
    animation-name: ex-10-icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes ex-10-icon{
    0%   {transform: rotate(0);}
    100% {transform: rotate(360deg);}
  }


/*Soluzione ESERCIZIO 11*/
.ex-11-icon:hover{
    animation-name: ex-11-icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes ex-11-icon{
    0%   {transform: rotate(0);}
    25% {transform: rotate(270deg);}
    100%{transform: rotate(0);}
  }


/*Soluzione ESERCIZIO 12*/
.ex-12-top-white{
    animation-name: ex-12-top-white;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes ex-12-top-white{
    0%  {left: 10%;}
    100%{left:71%;}
}
.ex-12-bottom-white{
    animation-name: ex-12-bottom-white;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
  @keyframes ex-12-bottom-white{
    0%   {right: 10%;}
    100% {right: 71%;}
}


/*Soluzione ESERCIZIO 13*/
.ex-13-top-white{
    animation-name: ex-13-top-white;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
@keyframes ex-13-top-white{
    0%{left: 10%; top: -10px;}
    25%{left: 85%; top: -10px;}
    50% {left: 85%; top: 55px;}
    75% {left: -10%; top: 55px;}
    90% {top: -10px; left: -10%;}
    100%{left: 10%; top: -10px;}
}
.ex-13-bottom-white{
    animation-name: ex-13-bottom-white;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
  @keyframes ex-13-bottom-white{
    0%   {bottom: -10px; right: 20%;}
    25% {bottom: -10px; right: 80%;}
    50% {bottom: 55px; right: 80%;}
    75% {bottom: 55px; right: -15%;}
    90% {bottom: -10px; right: -15%;}
    100% {bottom: -10px; right: 20%;}

}